@keyframes pvz {
    form {background-color:red}
    to{background-color: yellow}

}
/*div{*/

     /*background-color: red;*/
     /*animation-name: pvz;*/
     /*animation-duration: 1s;*/
     /*animation-iteration-count: infinite;*/
 /*}*/

.red:hover{
background-color: red;
animation-name: pvz;
animation-duration: 1s;
animation-iteration-count: infinite;}