.ketvirtukai{
    float:left;
}
.plotis33{
    width: 32%;
}
.plotis100{
    width: 100%;
}
.trejetukai1{
    float: left;
    width: 99%;
}
.trejetukai2{
    float: right;
    width: 50%;
}
.dvejetukai1{
    float: left;
    width: 74%;

}
.dvejetukai2{
    float: right;
    width: 24%;
}